<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AHE flask</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body> 
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
            <img src={{ url_for('static', filename='logo.jpg') }} class="rounded-circle" alt="Webstie logo" height="100px" width="100px">
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Cookie info</button>
            </div>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                <div class="modal-content">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Info</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                    The website is using cookies
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Success!</strong> This alert box that I have added on my own to my project.
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"> 
            <a href="/" class="link-dark">Home</a></br>
            <a href="/credentials" class="link-dark">Credentials</a>
            </div>
            <div class="col-md-10"> {% block content %}{% endblock %} </div>
        </div>
        <div class="row">
            <span class="col-12">
            <p class="text-center">MZ (c) 2023</p>
            </span>
        </div>
    </div>
</body>
</html>
